<%- include('partials/_header') %>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
       <h1>   <span class="site-heading-lower">Registrate</span></h1>
       <hr>
       
          <form action="/addUsuario" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="nombrePersonal"placeholder="Nombre completo">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="nombreUsuario"placeholder="Nombre Usuario">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="contraseña" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="direccion" placeholder="Dirección">
            </div>
            <div class="form-group">
              <input type="hidden" value="Cliente"class="form-control" name="tipo" placeholder="Dirección">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="telefono" placeholder="Telefóno">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="eMail">
            </div>

            <button type="submit" class="btn btn-primary btn-x2" >Registrar</a>
          </form>
        

        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/_footer') %>