<!-- ModalLogin-->
<div class="container">
  <div class="modal fade" id="loginModal"> 
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="section-heading mb-1">
            <span class="section-heading-upper">Iniciar Sesión</span>
          </h1>
          <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal"></button>
        </div>
        <div class="modal-body">
        <CENTER>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="email1"placeholder="Tu email...">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password1" placeholder="Tu contraseña...">
            </div>
            <a class="btn btn-primary btn-x2" href="registro.html">Ingresar!</a>
          </form>
    
        </CENTER>
        
        </div>
        <div class="modal-footer"> 
          <div class="signup-section">¿Aún no tienes una cuenta? <a href="/registro" class="text-info"> Registrate!</a>.</div>

        </div>
      </div>

    </div>
  
  </div>

</div>

<!-- /ModalLogin-->
<!-- ModalContacto-->
<div class="container">
  <div class="modal fade" id="modalContacto"> 
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="section-heading mb-1">
            <span class="section-heading-upper">Ponerse en contacto!</span>
          </h1>
          <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal"></button>
        </div>
        <div class="modal-body">
        <CENTER>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="nombreContacto"placeholder="Nombre">
            </div>
            <div class="form-group">
              <input type="mail" class="form-control" id="mailContact" placeholder="Mail">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="contactoMensaje" rows="3" placeholder="Mensaje"></textarea>
            </div>
            <a class="btn btn-primary btn-x2" href="#">Enviar</a>
          </form>
    
        </CENTER>
        
        </div>
      </div>

    </div>
  
  </div>

</div>
<!-- /ModalContacto-->

<!-- Footer-->
<footer class="footer text-faded text-center py-5">
  <div class="container">
    <p class="text-muted">
      Plantilla por <a href="https://startbootstrap.com/" class="text-reset" target="_blank">Start Bootstrap</a>.
    </p>
  </div>
  
</footer>

<!-- /Footer-->
  <!-- JavaScript -->
 
  <script src="scripts/bootstrap/bootstrap.min.js"></script>
  <script src="scripts/bootstrap/bootstrap.bundle.min.js"></script>
   <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script><script  src="./script.js"></script>
</body>
</html>