<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  rel="icon"   href="images/taza.png" type="image/png" />
  <title>Café Marron</title>
 <!-- Estilos -->
  <link rel="stylesheet" href="styles/bootstrap/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="styles/estilosSocial.css">
  <link rel="stylesheet" href="styles/estiloHome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


   <!-- /Estilos -->
</head>
<body>
  
    <!-- Titulo -->
  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Café Marron</span>
    <span class="site-heading-lower">Coffee Like You</span>
  </h1>
 <!-- /Titulo -->
  <!-- Navbar -->

 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
      
        <%if(locals.enLinea&&locals.tipo=="Cliente"){%>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/index">Principal
              <span class="sr-only">(current)</span>
            </a>
          </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/menu">Menú</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/horario">Horarios</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" data-toggle="modal" data-target="#modalContacto"  role="button">Contáctanos</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/logout">Salir</a>
        </li>
        <%}else if(locals.enLinea&&locals.tipo=="Master"){%>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/index">Principal
              <span class="sr-only">(current)</span>
            </a>
          </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/manejoUsuarios">Usuarios</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/manejoProductos">Productos</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/manejoPendientes">Pendientes</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/logout">Salir</a>
        </li>
        <%}else if(locals.enLinea&&locals.tipo=="Empleado"){%>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/index">Principal
              <span class="sr-only">(current)</span>
            </a>
          </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/menu">Perfil</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/horario">Productos</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" data-toggle="modal" data-target="#modalContacto"  role="button">Pendientes</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="/logout">Salir</a>
        </li>
        <%}else{%>
        <li class="nav-item px-lg-4">
          
          <a class="nav-link text-uppercase text-expanded" data-toggle="modal" data-target="#loginModal"  role="button">Ingresar</a>
          
        </li>
        <%}%>
       
      </ul>
    </div>
  </div>
</nav>
<ul class="socialIcons">
  <li class="facebook"><a href="https://www.facebook.com/Caf%C3%A9-Marron-350704042870434" target="_blank"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
  <li class="instagram"><a href="https://www.instagram.com/marron_cafee/" target="_blank"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
 
</ul>